:root{
    --white-color:#fff;
    --black-color: #140a00;
    --grey-dark-color: #363636;
    --grey-light-color: #e0e0e0;


}

* {
    margin : 0;
    padding: 10px;
}

/* Header */
.navbar{
    background-color: var(--grey-light-color);
    background-position:left top;
    width: 20%;
    height: 1400px;
    padding: 20px;

}
.logo{
    font-size: 40px;
    font-weight: bold;
    padding-bottom: 10px;
}
ul.menu{
    list-style: none;
}
ul.menu li{
    font-weight: bold;
    font-size: 25px;
    cursor: pointer;
}
li{
    padding: 7px;
}
a {
    text-decoration: none;
    color: var(--black-color);
}

/* Section */
.git{
    background-color: var(--grey-dark-color);
    color: var(--white-color);
    width: 50%;
    position: absolute;
    top: 20px;
    left: 400px;
}
.git a{
    color: var(--white-color);
}
.me{
    position: absolute;
    top: -225px;
    left: 1250px;
}
.me img{
    width: 400px;
    height: 360px;
}
.tell {
    font-size: 25px;
    position: relative;
    top: 320px;
    right:850px;
    display: inline-block; 
    width: 200px; 
    white-space: nowrap;
}
/* Article */
article {
    display: flex;
    position:absolute;
    flex-wrap: wrap;
    left: 400px;
    top: 380px;
}
article img{
    width: 580px;
    height: 350px;
}
article div{
    margin: 5px;
    width: 600px;
    height: 500px;
    border: 1px solid var(--black-color);
}