:root{
    --white-color:#fff;
    --black-color: #140a00;
    --grey-dark-color: #363636;
    --grey-light-color: #e0e0e0;


}

* {
    margin : 0;
    padding: 10px;
}

/* Header */
.navbar{
    background-color: var(--grey-light-color);
    background-position:left top;
    width: 20%;
    height: 1000px;
    padding: 20px;

}
.logo{
    font-size: 40px;
    font-weight: bold;
    padding-bottom: 10px;
}
ul.menu{
    list-style: none;
}
ul.menu li{
    font-weight: bold;
    font-size: 25px;
    cursor: pointer;
}
li{
    padding: 7px;
}
a {
    text-decoration: none;
    color: var(--black-color);
}

/* Section */
.me{
    display: flex;
    position: absolute;
    left: 700px;
    top: 0;
}
img{
    width: 400px;
    height: 350px;
}